# Data directory
/data/*

# IDE (Integrated Development Environment)
.idea/

# Jupyter notebooks
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# MLFlow runs
/mlruns/*

# Virtual environment on server (created with instructions from readme)
venv-phase-2
